<div class="container">

    <div class="content">

        <form class="form" [formGroup]="form">
            <p>Nova sala</p>
            <mat-form-field class="form-field">
                <mat-label>Nome da sala</mat-label>
                <input
                        autocomplete="off"
                    matInput
                    formControlName="nome"
                    placeholder="Reunião com a diretoria"
                    name="nome"
                >
            </mat-form-field>
            <mat-form-field class="form-field">
                <mat-label>Data da reunião</mat-label>
                <input
                        autocomplete="off"
                    formControlName="data"
                    matInput
                    placeholder="05/05/2021"
                    name="data"
                >
            </mat-form-field>
            <mat-form-field class="form-field">
                <mat-label>Horario de inicio</mat-label>
                <input
                        autocomplete="off"
                    formControlName="horaInicio"
                    matInput
                    placeholder="08:00"
                    name="horaInicio"
                >
            </mat-form-field>
            <mat-form-field class="form-field">
                <mat-label>Horario do termino</mat-label>
                <input
                        autocomplete="off"
                    formControlName="horaFim"
                    matInput
                    placeholder="12:30"
                    name="horaFim"
                >
            </mat-form-field>
            <div class="botoes">
                <button mat-button class="btn-create" (click)="createSala()"[disabled]="!form.valid">Salvar</button>
                <button mat-button class="btn-cancelar" (click)="cancelar()">Cancelar</button>
            </div>

        </form>
    </div>

</div>

