.container{
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: #f4f7fa;
}

.content{
    margin: 10px 0px;
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    align-items: center;
}

.card{
    width: 260px;
    height: 200px;

    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 20px 10px;
    margin: 0px;
}

.card-title{
    margin: 20px 0px;
    font-size:20px;
}

.card-subtitle{
    margin: 6px 0px;
    font-weight: 600;
}

@media screen and (max-width: 1200px) {
    .cards{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 920px) {
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 600px) {
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
}